# Combining & Exporting Data

### Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'\Users\edwin\Instacart Basket Analysis'

In [3]:
path

'\\Users\\edwin\\Instacart Basket Analysis'

### Importing the Data

In [4]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [5]:
df_ords_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

### Check the Output of Dataframes

In [6]:
# Check the output
df_ords_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [7]:
df_ords_combined.shape

(32434489, 11)

#### Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [8]:
# Need to first import the products data set
df_prods = pd.read_csv(os.path.join(path, "02 Data", "Prepared Data", "products_checked.csv"), index_col = False)

In [9]:
df_prods

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...,...
49667,49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49668,49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49669,49690,49686,Artisan Baguette,112,3,7.8
49670,49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49671,49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [10]:
# Remove unnamed row
df_prods = df_prods.drop("Unnamed: 0", axis = 1)

In [11]:
# Recheck
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [15]:
print(df_prods.columns)
print(df_ords_combined.columns)

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')
Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'first_order',
       'product_id', 'add_to_cart_order', 'reordered', '_merge'],
      dtype='object')

In [18]:
df_merged = df_prods.merge(df_ords_combined, on='product_id', how='inner', indicator=True)

ValueError: Cannot use name of an existing column for indicator column

In [19]:
# Check for existing '_merge' column in df_prods and df_ords_combined
if '_merge' in df_prods.columns:
    df_prods.rename(columns={'_merge': 'existing_merge'}, inplace=True)

if '_merge' in df_ords_combined.columns:
    df_ords_combined.rename(columns={'_merge': 'existing_merge'}, inplace=True)

In [20]:
df_merged = df_prods.merge(df_ords_combined, on='product_id', how='inner', indicator=True)

In [22]:
# Check output
print(df_merged.head())

   product_id                product_name  aisle_id  department_id  prices  \
0           1  Chocolate Sandwich Cookies        61             19     5.8
1           1  Chocolate Sandwich Cookies        61             19     5.8
2           1  Chocolate Sandwich Cookies        61             19     5.8
3           1  Chocolate Sandwich Cookies        61             19     5.8
4           1  Chocolate Sandwich Cookies        61             19     5.8

   order_id  user_id  order_number  orders_day_of_week  order_hour_of_day  \
0   3139998      138            28                   6                 11
1   1977647      138            30                   6                 17
2    389851      709             2                   0                 21
3    652770      764             1                   3                 13
4   1813452      764             3                   4                 17

   days_since_prior_order  first_order  add_to_cart_order  reordered  \
0                     3.0        False                  5          0
1                    20.0        False                  1          1
2                     6.0        False                 20          0
3                     NaN         True                 10          0
4                     9.0        False                 11          1

  existing_merge _merge
0           both   both
1           both   both
2           both   both
3           both   both
4           both   both

#### Confirm the results of the merge using the merge flag.

In [25]:
df_merged["_merge"].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

#### Export the newly created dataframe as ords_prods_merge in a suitable format (taking into consideration the size).

In [27]:
df_merged.to_pickle(os.path.join(path, "02 Data", "prepared Data", "ords_prods_merge.pkl"))