# Combining & Exporting Data

## Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

#### Setting Path

In [2]:
path = r'\Users\edwin\Instacart Basket Analysis'

In [3]:
path

'\\Users\\edwin\\Instacart Basket Analysis'

### Import the Data

In [4]:
# Import dataset orders_products_prior.csv
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [5]:
# Import dataset orders_checked.csv
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_cleaned.csv'), index_col = False)

### Check the dimension of the imported dataframes

In [6]:
# Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,0,0,2539329,1,1,2,8,NaN,True
1,1,1,2398795,1,2,3,7,15.0,False
2,2,2,473747,1,3,3,12,21.0,False
3,3,3,2254736,1,4,4,7,29.0,False
4,4,4,431534,1,5,4,15,28.0,False

In [8]:
df_ords.shape

(3421083, 9)

In [9]:
# Drop unnecessary columns
df_ords = df_ords.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1)

In [10]:
# Check the output
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,2539329,1,1,2,8,NaN,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False

In [11]:
df_ords.shape

(3421083, 7)

In [12]:
df_ords_prior.shape

(32434489, 4)

### Merge the dataframes

In [13]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [14]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [15]:
# Check indicator column for merge type:
df_merged_large["_merge"].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

The above "inner join" merge only combined the rows in both dataframes for which there are matching observations (order_id's). However, an outer join would have displayed 206,209 more rows from df_ords that do not have a matching order_id in the df_ords_prior dataframe

In [16]:
# Checking merged dataframe before task instructions:
df_merged_large.shape

(32434489, 11)

### Export data in pickle format

In [17]:
#Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))